@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active {
  color: #00a634;
}

.dashboard a.active button {
  color: black;
  font-weight: 600;
  background-color: white;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.pagination button{
  background-color: gray;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}

.pagination .selected{
  background-color: #18b985;
}
